@font-face {
  font-family: "good";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "big";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "italic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html,
body {
  margin: 0 auto;
  font-size: 16px;
  width: 100%;
  padding: 0;
}

h1,
h2,
h3,
h4,
p,
figure {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul img,
li img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a,
i,
em,
strong,
b,
code,
::after,
::before {
  display: inline-block;
}

.banner {
  width: 100%;
  height: 100vh;
}
.banner .swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: "good";
  font-weight: 900;
  z-index: 500;
}
.banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grabbing;
}
.banner .swiper-slide .maintext {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.banner .swiper-slide .maintext img {
  display: block;
  height: 100%;
}
.banner .swiper-slide .maintext p {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  opacity: 1;
  text-align: center;
  color: #fff;
  font-size: 3rem;
  padding: 0.625rem;
}
.banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .swiper-button-next {
  color: rgba(255, 255, 255, 0.3);
}
.banner .swiper-button-prev {
  color: rgba(255, 255, 255, 0.3);
}

main {
  max-width: 87.5rem;
  margin: 0 auto;
}
main .first {
  width: 100%;
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 2s;
}
main .first.active {
  opacity: 1;
  transform: translateY(0%);
}
main .first .big-box {
  max-width: 87.5rem;
}
main .first .big-box .first-banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
main .first .big-box .first-banner .text {
  width: 40%;
  line-height: 1.7;
}
main .first .big-box .first-banner .text h1 {
  font-size: 3.5rem;
  font-family: "good";
  font-weight: 400;
}
main .first .big-box .first-banner .text span {
  font-family: "good";
}
main .first .big-box .first-banner .text p {
  font-family: "good";
  font-weight: 400;
}
main .first .big-box .first-banner .img-box {
  width: 40%;
}
main .first .big-box .first-banner .img-box img {
  width: 100%;
  border-radius: 20px;
}
main .first .big-box :nth-of-type(2) {
  flex-direction: row-reverse;
}
main .second {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .second .second-text {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "italic";
  opacity: 0;
  transform: translateY(50%);
  transition: 2s;
}
main .second .second-text.active {
  opacity: 1;
  transform: translateY(0%);
}
main .second .flexbox {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transform: translateY(100%);
  transition: 2s;
}
main .second .flexbox.active {
  opacity: 1;
  transform: translateY(50%);
}
main .second .flexbox .box-inner {
  width: 87.5rem;
  padding: 0 2%;
}
main .second .flexbox .box-inner img {
  width: 100%;
  border-radius: 20px;
  transition: all 0.5s;
}
main .second .flexbox .box-inner img:hover {
  transition: all 0.5s;
  transform: scale(0.9);
}
main .second .flexbox .box-inner .box-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .second .flexbox .box-inner .box-text span {
  margin-bottom: 1rem;
  font-family: "good";
  font-size: 1.25rem;
  font-weight: bold;
}
main .second .flexbox .box-inner .box-text p {
  font-family: "good";
}
main .third {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .third .third-text {
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: "good";
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(100%);
  transition: all ease-in 2s;
}
main .third .third-text.active {
  opacity: 1;
  transform: translateY(0%);
}
main .third .third-text span {
  text-align: center;
}
main .third .third-box {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
main .third .third-box #map {
  width: 60%;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s;
}
main .third .third-box #map.active {
  opacity: 1;
  transform: translateY(0%);
}
main .third .third-box .third-imgbox {
  width: 30%;
  display: flex;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
  transition: all 2s;
}
main .third .third-box .third-imgbox.active {
  opacity: 1;
  transform: translateY(0);
}
main .third .third-box .third-imgbox img {
  width: 100%;
  border-radius: 20px;
}/*# sourceMappingURL=index.css.map */