@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .main-banner {
    width: 100%;
    height: auto;
    background-image: url(../../img/room-banner.jpeg);
  }
  .main-banner h1 {
    padding: 5%;
    font-size: 3.5rem;
  }
  .main-banner .choose {
    width: 100%;
  }
  .main-banner .choose button {
    font-size: 0.75rem;
  }
  .first {
    width: 100%;
    height: auto;
  }
  main .second {
    width: 100%;
    height: auto;
  }
  main .second .second-tab {
    justify-content: space-around;
  }
  main .second .second-box .flexbox {
    justify-content: space-around;
  }
  .third {
    width: 100%;
    height: 80vh;
    background-image: url(/img/room/third-room.jpg);
  }
  .third h1 {
    font-size: 2rem;
    font-family: "good";
    font-weight: 500;
    color: #f7f3eb;
    transition: all 0.5s linear;
  }
  .third h1:hover {
    transform: scale(1.5);
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .menu {
    width: auto;
    display: block;
    text-align: end;
    font-size: 1.25rem;
  }
  .main-banner {
    width: 100%;
    height: auto;
    align-items: center;
    background-image: url(../../img/room-banner.jpeg);
  }
  .main-banner h1 {
    font-size: 3rem;
  }
  .main-banner .choose {
    width: 100%;
  }
  .main-banner .choose button {
    width: 100%;
    font-size: 0.625rem;
  }
  .first {
    width: 100%;
    height: auto;
  }
  main .second {
    width: 100%;
    height: auto;
  }
  main .second .second-tab {
    justify-content: space-evenly;
  }
  main .second .second-tab span {
    font-size: 1.25rem;
  }
  main .second .second-box .flexbox {
    justify-content: space-evenly;
  }
  main .second .go-res button {
    width: 11.25rem;
    height: 3.125rem;
  }
  .third {
    height: 80vh;
  }
  .third h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 767px) {
  header .menu {
    width: auto;
    display: block;
    text-align: end;
    font-size: 1rem;
  }
  header .logo {
    font-size: 1.5rem;
  }
  .main-banner {
    width: 100%;
    height: auto;
    align-items: center;
    background-image: url(../../img/room-banner.jpeg);
  }
  .main-banner h1 {
    font-size: 3rem;
  }
  .main-banner .choose {
    width: 100%;
  }
  .main-banner .choose button {
    font-size: 0.75rem;
  }
  .main-banner .choose button p {
    display: none;
  }
  .first {
    width: 100%;
    height: auto;
  }
  main .second {
    width: 100%;
    height: auto;
  }
  main .second .second-tab {
    justify-content: space-between;
  }
  main .second .second-tab span {
    font-size: 0.875rem;
  }
  main .second .second-box .flexbox {
    justify-content: space-evenly;
  }
  main .second .go-res button {
    width: 6.25rem;
    height: 1.875rem;
  }
  .third {
    height: 80vh;
  }
  .third h1 {
    font-size: 1.5rem;
  }
  footer {
    height: none;
  }
  footer article .footer-left {
    display: none;
  }
  footer article .footer-right {
    width: 100%;
  }
  footer .footer-bottom {
    width: 100%;
  }
  footer .footer-bottom span {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 290px) and (max-width: 499px) {
  header .menu {
    width: auto;
    display: block;
    text-align: end;
    font-size: 0.625rem;
  }
  header .logo {
    font-size: 1rem;
  }
  .main-banner {
    width: 100%;
    height: auto;
    align-items: center;
    background-image: url(../../img/room-banner.jpeg);
  }
  .main-banner h1 {
    font-size: 1.75rem;
  }
  .main-banner .choose {
    width: 100%;
  }
  .main-banner .choose button {
    font-size: 0.625rem;
  }
  .main-banner .choose button p {
    display: none;
  }
  .first {
    width: 100%;
    height: auto;
  }
  main {
    width: auto;
  }
  main .second {
    width: 100%;
    height: auto;
  }
  main .second .second-tab {
    justify-content: space-between;
    display: none;
  }
  main .second .second-tab span {
    font-size: 0.875rem;
  }
  main .second .second-box .flexbox {
    justify-content: space-evenly;
  }
  main .second .go-res button {
    width: 6.25rem;
    height: 1.875rem;
  }
  .third {
    height: 20vh;
  }
  .third h1 {
    font-size: 0.75rem;
  }
  footer {
    height: none;
  }
  footer article .footer-left {
    display: none;
  }
  footer article .footer-right {
    width: 100%;
  }
  footer .footer-bottom {
    width: 100%;
  }
  footer .footer-bottom span {
    font-size: 0.75rem;
  }
}/*# sourceMappingURL=room_media.css.map */